{% extends 'base.html.twig' %} {% block title %}Medi'service - Accueil{% endblock %} {% block body %}
<main role="main" class="inner cover">
    <h2 class="cover-heading">Bienvenue sur Medi'services</h2>
    <p class="lead">
        La seule application vous permettant de faire de la gestion de materiels medicals
    </p>
</main>
{% endblock %}